html,
body {
    padding: 0;
    margin: 0;
    background-color: #fbebfa;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    background-color: #bd39b2;
    color: #fff;
    padding: 50px 30px;
    text-align: center;
    position: relative;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left, rgb(238, 0, 255), #e67fdd);
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right, rgb(238, 0, 255), #e67fdd);
}

.hero h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.hero h2 {
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}

.filter-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filter-nav a {
    text-decoration: none;
    padding: 10px;
    color: #e67fdd;
    border: 1px solid #f8a3f1;
    border-radius: 25px;
    margin: 4px;
}

.filter-nav .active {
    background-color: #e67fdd;
    color: white;
    border-color: #fc79d5;
}

.filter-nav a:hover {
    background-color: #fce2fc;
}

.filter-nav .active:hover {
    background-color: #e67fdd;
    color: white;
    border-color: #fc79d5;
    cursor: default;
}

.animals {
    max-width: 700px;
    margin: 0 auto;
}

.animal-card {
    display: grid;
    margin: 20px;
    grid-template-columns: 100%;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.animal-card-photo {
    order: 1;
    grid-row: 1;
    overflow: hidden !important;
}

.animal-card-photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform;
}

.animal-card-photo:hover {
    transform: scale(1.1);
}

.animal-card-text {
    padding: 20px 25px;
}

.animal-card-text h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animal-card-text small {
    color: rgb(146, 146, 146);
}

.animal-card-text p {
    margin: .8rem 0;
    padding: 0;
    line-height: 1.5;
}

.primary-btn {
    background: linear-gradient(#f3ace9, #ef49bb);
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}

.primary-btn:hover {
    background: linear-gradient(#ea83dd, #e7099d);
}

@media screen and (min-width: 768px) {
    .animal-card {
        grid-template-columns: 200px 1fr;
    }

    .hero h1 {
        font-size: 6rem;
    }
}